@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap');


body{
  margin: 0;
  background-color: #0E0E0E;
}
#root{
  font-family: 'Poppins', sans-serif;
  background-color: #0E0E0E;
  width: 100%;
}

.App{
  display: flex;
}

.app-comp-wrap{
  display: flex;
  flex-direction: column;
}