@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}
.App{
  display: flex;
}
body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #0E0E0E;
}
.nav-container{
  position: fixed;
  height: 100vh;
  width: 220px;
  background-color: #121212;
}
.nav-head{
  display: flex;
  color: white;
}
.app-logo-container{
  height: 80px;
  width: 80px;
}
.main-logo{
  height: 100%;
  width: 100%;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.app-name-container {
  margin: 15px 0 0 0;
  font-family: 'Dela Gothic One', sans-serif;
}
.app-name-container > p:nth-child(1) {
  margin: 0;
}
.app-name-container > p:nth-child(2) {
  margin: -10px 0  0 0;
}
.nav-list-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0px 0px 20px;
}
.nav-list{
  display: flex;
  align-items: center;
  height: 40px;
  width: 150px;
  border-radius: 5px;
}

.nav-list:hover span,
.nav-list:hover p {
  color: #F83821;
  letter-spacing: 2px; 
}
.nav-list:hover{
  background-color: #1A1A1A;
}
.nav-list{
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.nav-list > p,span{
  margin: 0 0 0 20px;
  font-size: 13px;
  color: white;
  transition: color 0.5s ease,letter-spacing 0.3s ease;
}

/* Nav user playlist */
.nav-user-playlist-container{
  margin: 40px 0 0 30px;
}
.user-playlist-heading{
  display: flex;
  align-items: center;
  font-size: 16px;
  color: white;
  font-weight: 600;
}
.user-playlists-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.u-playlist{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.u-playlist > p,span{
  margin: 0 0 0 10px;
  font-size: 13px;
  color: white;
}

/* search component css */
.search-field-wrapper {
  margin: 20px 0 0 280px;
}
.search-icon{
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
}
.search-field-container{
  display: flex;
  height: 45px;
  align-items: center;
  justify-content: space-around;
  background-color: #1A1A1A;
  width: 350px;
  border-radius: 50px;
  margin: 0 20px;
}

.search-field-container > input{
  width: 240px;
  height: 30px;
  background-color: #1A1A1A;
  color: white;
  font-family: 'Poppins', sans-serif;
  border: none;
}
.search-field::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: white;
}
.search-field:focus{
  outline: none;
}

/* Songs list component */

.app-comp-wrap{
  display: flex;
  flex-direction: column;
}
.songs-list-wrapper{
  margin:50px 0 0 300px;
}
.song-container{
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 450px;
  height: 50px;
  background-color: #121212;
  color: white;
  justify-content: space-evenly;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.song-container:hover{
  background-color: #1A1A1A;
}
.song-coverImg-container{
  width: 40px;
  height: 40px;
}
.song-coverImg-container > img{
  border-radius: 3px;
  width: 100%;
  height: 100%;
}